.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad
  > .elementor-container
  > .elementor-row,
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad
  > .elementor-container {
  justify-content: flex-start !important;
  flex-direction: row;
}
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-bb-inner
  > .elementor-container
  > .elementor-row,
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-bb-inner
  > .elementor-container {
  justify-content: flex-start !important;
  flex-direction: row;
}
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-is-glider
  > .elementor-container.swiper-container-vertical
  > .elementor-row,
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-is-glider
  > .elementor-container.swiper-container-vertical {
  flex-direction: column;
}
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-is-glider.ob-bb-inner
  > .elementor-container.swiper-container-vertical
  > .elementor-row,
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-is-glider.ob-bb-inner
  > .elementor-container.swiper-container-vertical {
  flex-direction: column;
}
.elementor-96
  .elementor-element.elementor-element-f492e35.ob-is-breaking-bad.ob-bb-inner {
  width: 100%;
  flex: unset;
  align-self: inherit;
}
.elementor-96 .elementor-element.elementor-element-f492e35 {
  border-style: solid;
  border-width: 2px;
  border-color: #212121;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-96
  .elementor-element.elementor-element-f492e35
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-96
  .elementor-element.elementor-element-fd9e408
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-96 .elementor-element.elementor-element-fd9e408.elementor-column {
  align-self: inherit;
  cursor: default;
}
.elementor-96
  .elementor-element.elementor-element-fd9e408
  > .elementor-element-populated {
  padding: 24px;
}
.elementor-96 .elementor-element.elementor-element-c00560b {
  text-align: center;
}
.elementor-96
  .elementor-element.elementor-element-c00560b
  .elementor-heading-title {
  font-family: montserrat, Sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.elementor-96 .elementor-element.elementor-element-c00560b.ob-harakiri {
  writing-mode: inherit;
}
.elementor-96
  .elementor-element.elementor-element-c00560b.ob-harakiri
  .elementor-heading-title {
  writing-mode: inherit;
  transform: rotate(0deg);
}
.elementor-96
  .elementor-element.elementor-element-c00560b.ob-harakiri
  .elementor-widget-container
  > div {
  writing-mode: inherit;
  transform: rotate(0deg);
}
.elementor-96
  .elementor-element.elementor-element-c00560b
  .elementor-widget-container {
  text-indent: 0;
  mix-blend-mode: inherit;
}
.elementor-96 .elementor-element.elementor-element-a376d4e {
  text-align: center;
}
.elementor-96
  .elementor-element.elementor-element-a376d4e
  .elementor-heading-title {
  color: #2d2d2dc4;
  font-family: montserrat, Sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.elementor-96 .elementor-element.elementor-element-a376d4e.ob-harakiri {
  writing-mode: inherit;
}
.elementor-96
  .elementor-element.elementor-element-a376d4e.ob-harakiri
  .elementor-heading-title {
  writing-mode: inherit;
  transform: rotate(0deg);
}
.elementor-96
  .elementor-element.elementor-element-a376d4e.ob-harakiri
  .elementor-widget-container
  > div {
  writing-mode: inherit;
  transform: rotate(0deg);
}
.elementor-96
  .elementor-element.elementor-element-a376d4e
  .elementor-widget-container {
  text-indent: 0;
  mix-blend-mode: inherit;
}
.elementor-96
  .elementor-element.elementor-element-a376d4e
  > .elementor-widget-container {
  margin: 10px 0 0;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group {
  padding-right: calc(12px / 2);
  padding-left: calc(12px / 2);
  margin-bottom: 15px;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-form-fields-wrapper {
  margin-left: calc(-12px / 2);
  margin-right: calc(-12px / 2);
  margin-bottom: -15px;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0;
}
body:not(.rtl)
  .elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0;
}
body
  .elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group
  > label,
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-subgroup
  label {
  color: #444;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group
  > label {
  font-family: roboto, Sans-serif;
  font-size: 0;
  font-weight: 400;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group
  .elementor-field,
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-subgroup
  label {
  font-family: montserrat, Sans-serif;
  font-weight: 400;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #f3f3f3;
  border-width: 0;
  border-radius: 0;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #f3f3f3;
  border-width: 0;
  border-radius: 0;
}
.elementor-96 .elementor-element.elementor-element-b2023a2 .elementor-button {
  font-family: montserrat, Sans-serif;
  font-size: 19px;
  font-weight: 600;
  border-radius: 0;
  padding: 20px 0;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .e-form__buttons__wrapper__button-next {
  color: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-button[type="submit"] {
  color: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-button[type="submit"]
  svg
  * {
  fill: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-button[type="submit"]:hover {
  color: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #fff;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-96 .elementor-element.elementor-element-b2023a2 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-96
  .elementor-element.elementor-element-b2023a2
  > .elementor-widget-container {
  margin: 30px 0 0;
}
#elementor-popup-modal-96 .dialog-message {
  width: 640px;
  height: auto;
}
#elementor-popup-modal-96 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-96 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-96 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .elementor-96 .elementor-element.elementor-element-f492e35 {
    padding: 0;
  }
  .elementor-96
    .elementor-element.elementor-element-c00560b
    .elementor-heading-title {
    font-size: 22px;
    line-height: 1.2em;
  }
  .elementor-96
    .elementor-element.elementor-element-a376d4e
    .elementor-heading-title {
    font-size: 14px;
    line-height: 1.2em;
  }
  #elementor-popup-modal-96 .dialog-message {
    width: 95vw;
  }
}
.elementor-96 .elementor-element.elementor-element-b2023a2 button {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
